<div id="navbar" class="absolute top-0 left-0 right-0 bg-white w-full shadow-md p-4 flex justify-between items-center">
    <div id="nav-logo" class="flex w-1/2 items-center justify-center">
        <a href="/">
            <p class="text-2xl font-bold text-[#030303] hover:text-blue-500">Kora</p>
        </a>
    </div>

    <div id="nav-links" class="flex space-x-4 w-1/2 justify-end mr-16">
        <a href="/signup" class="text-[#030303] hover:text-blue-500">Sign Up</a>
        <a href="/login" class="text-[#030303] hover:text-blue-500">Log In</a>
        <a href="/profile" class="text-[#030303] hover:text-blue-500">Profile</a>
        <a href="/auth/logout" class="text-[#030303] hover:text-blue-500">Log Out</a>
        <a href="/add-recommendation" class="text-[#030303] hover:text-blue-500">Add Recommendation</a>
        <a href="/add-friend" class="text-[#030303] hover:text-blue-500">Add Friend</a>
    </div>
</div>